<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://192.168.1.164:9998/SPD20/AutoupdateService.xml</ServerUrl>
  <MainProgram>QX_HOS_SPD.exe</MainProgram>
  <ProgramName>SPD系统</ProgramName>
  <UpdateFileList>
    <LocalFile path="QX_HOS_SPD.exe" lastver="PRO_20190218_V0.48" size="4179968" version="PRO_20190218_V0.48" />
    <LocalFile path="O2S.Components.PDFView4NET.dll" lastver="PRO_20170202_V1.01" size="2092032" version="PRO_20170202_V1.01" />
    <LocalFile path="O2S.Components.PDFView4NET.xml" lastver="PRO_20170202_V1.01" size="354418" version="PRO_20170202_V1.01" />
    <LocalFile path="HRP账面数导入模板.xls" lastver="PRO_20170202_V1.01" size="51200" version="PRO_20170202_V1.01" />
    <LocalFile path="采购订单模板.xlsx" lastver="PRO_20190218_V0.01" size="11316" version="PRO_20190218_V0.01" />
    <LocalFile path="仓库区域货位模板.xlsx" lastver="PRO_20190218_V0.01" size="10591" version="PRO_20190218_V0.01" />
    <LocalFile path="科室模板.xlsx" lastver="PRO_20190218_V0.01" size="12481" version="PRO_20190218_V0.01" />
    <LocalFile path="库存初始化模板.xlsx" lastver="PRO_20190218_V0.01" size="11731" version="PRO_20190218_V0.01" />
    <LocalFile path="请领单模板.xlsx" lastver="PRO_20190218_V0.01" size="11381" version="PRO_20190218_V0.01" />
    <LocalFile path="医院品种目录模板.xlsx" lastver="PRO_20190218_V0.01" size="11641" version="PRO_20190218_V0.01" />

  </UpdateFileList>
  <EnvironmentVariables>
    <EnvironmentVariable key="NLS_LANG" variable="SIMPLIFIED CHINESE_CHINA.ZHS16GBK" />
  </EnvironmentVariables>
</Config>